.form-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    max-width: 396px;
    min-height: 100vh;
}

@media screen and (min-width: 768px) {
    .form-container {
        min-height: 540px;
    }
}