.movies-card-list {
    box-sizing: border-box;
    flex: auto;
    display: grid;
    margin: 0;
    padding: 40px 10px 30px;
    transition: padding-top .5s, padding-right .5s, padding-bottom .5s, padding-left .5s;
}

.movies-card-list__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 235px;
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
    row-gap: 20px;
    column-gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-indent: 0;
}

.movies-card-list__item {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .movies-card-list {
        padding: 70px 30px 30px;
    }

    .movies-card-list__container {
        grid-template-columns: repeat(auto-fit, 339px);
        grid-auto-rows: 257px;
        row-gap: 36px;
    }
}

@media screen and (min-width: 1024px) {
    .movies-card-list {
        padding: 70px 70px 30px;
    }

    .movies-card-list__container {
        grid-template-columns: repeat(auto-fit, 270px);
        grid-auto-rows: 218px;
        row-gap: 32px;
        column-gap: 20px;
    }
}