.profile {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile__container {
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    min-width: 320px;
    max-width: 470px;
    width: 100%;
}

.profile__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.profile__form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.profile__fields-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
}

.profile__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile__update-error {
    display: block;
    font-weight: 400;
    font-size: 11px;
    color: #FF004C;
    text-align: center;
}

.profile__logout-button {
    color: #FF004D !important;
}

@media screen and (min-width: 768px) {
    .profile__content {
        flex: none;
        min-height: 450px;
    }
}
