.promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
    padding: 10px;
    background: url('../../images/ic_promo.svg') no-repeat center #465DFF;
    transition: padding-left 0.5s, padding-right 0.5s;
}

@media screen and (min-width: 768px) {
    .promo {
        padding: 20px;
    }

}

@media screen and (min-width: 1024px) {
    .promo {
        min-height: 524px;
    }
}

.promo__text {
    max-width: 730px;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 31px;
    font-weight: 400;
    line-height: 1.26;
    letter-spacing: -1px;
}

@media screen and (min-width: 768px) {
    .promo__text {
        font-size: 50px;
        line-height: 1.16;
        letter-spacing: -2px;
    }
}