.promo {
    background: #465DFF;
}

.promo__hero {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
    padding: 10px;
    background: url('../../images/ic_promo.svg') no-repeat center;
    background-origin: content-box;
    transition: min-height .5s, padding-top .5s, padding-right .5s, padding-bottom .5s, padding-left .5s;
}

.promo__text {
    align-self: center;
    max-width: 730px;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 31px;
    font-weight: 400;
    line-height: 1.26;
    letter-spacing: -1px;
    transition: font-size .5s;
}

@media screen and (min-width: 768px) {
    .promo__hero {
        padding: 20px;
    }
    .promo__text {
        font-size: 50px;
        line-height: 1.16;
        letter-spacing: -2px;
    }
}

@media screen and (min-width: 1024px) {
    .promo__hero {
        min-height: 524px;
    }
}