.load-more-button {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 36px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    color: #000;
    background: #F9F9F9;
}