.outline-button {
    display: block;
    font-weight: 400;
    font-size: 12px;
    border: none;
    background: none;
    color: #000;
    cursor: pointer;
}

.outline-button:hover {
    opacity: .7;
    transition: opacity .2s;
}

@media screen and (min-width: 768px) {
    .outline-button {
        font-size: 13px;
    }
}