.techs {
    margin: 0;
    padding: 100px 18px;
    background: #fff;
}

@media screen and (min-width: 768px) {
    .techs {
        margin: 0;
        padding: 90px 50px;
        background: #F5F5F5;
    }
}

@media screen and (min-width: 1024px) {
    .techs {
        margin: 0;
        padding: 100px 70px;
    }
}