.about-me {
    margin: 0;
    padding: 70px 14px;
    background: #fff;
}

@media screen and (min-width: 768px) {
    .about-me {
        margin: 0;
        padding: 90px 50px;
    }
}

@media screen and (min-width: 1024px) {
    .about-me {
        margin: 0;
        padding: 110px 70px;
    }
}