.about-me {
    margin: 0;
    padding: 70px 14px;
    background: #fff;
    transition: padding-top .5s, padding-right .5s, padding-bottom .5s, padding-left .5s;
}

@media screen and (min-width: 768px) {
    .about-me {
        margin: 0;
        padding: 90px 50px;
    }
}

@media screen and (min-width: 1024px) {
    .about-me {
        margin: 0;
        padding: 110px 70px;
    }
}