.nav-tab {
  box-sizing: border-box;
  min-height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
}

.nav-tab__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-indent: 0;
}

.nav-tab__link-wrapper {
  margin: 0;
  padding: 0;
}

.nav-tab__link {
  text-align: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.45;
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}

.nav-tab__link:hover {
  opacity: .7;
  transition: opacity .2s;
}

@media screen and (min-width: 768px) {
  .nav-tab__container {
    gap: 40px;
  }

  .nav-tab__link {
    font-size: 13px;
    line-height: 1.23;
  }
}
